.cusel{
    width: 245px;
    height: 48px;
    /* margin: auto; */
    font-family: 'Metropolis';
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    /* box-sizing: border-box; */
}
.buttonCustomer{
    height: 48px;
    width: 123px;
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    /* padding-top: 15px; */
    /* padding: 17px 22px; */
    box-sizing: border-box;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
}
.buttonSeller{
    height: 48px;
    width: 123px;
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    /* padding-top: 15px; */
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    border-radius: 0px 4px 4px 0px;
}
.buttonSilver{
    background-color: white;
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
}
.buttonRed{
    background: #DB3022;
    color: white;
}