.mainPage{
    background: #F5F5F5;
}
/* navbar vertical ================================================================================================================================================================================ */
.navVertical{
    font-family: 'Metropolis';
}
.navItem{
    margin-left: 80px;
}
.boxSubNaver{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
}
.backgroundNavVer{
    background-color: #fff;
}
.boxSub{
    display: flex;
}
.collapseBoxSub{
    display: flex;
    flex-direction: column;
}
.collapseNavVer{
    text-align: start;
    text-decoration: none;
}
.profileNav{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.profileImage{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.profileName{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}
.navVerticalTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
    text-decoration: none;
    margin-top: auto;
}
.activePage{
    font-weight: bold;
    color: #222222;
}
.boxImageProfile{
    background-color: blue;
    border-radius: 50%;
    padding: 8px 8px;
    height: 32px;
    width: 32px;
}
.colorBox1{
    background: #456BF3;
}
.colorBox2{
    background: #F36F45;
}
.colorBox3{
    background: #F3456F;
}
.editProfile{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
    margin-left: 2px;
    text-decoration: none;
}
/* profile ========================================================================================================================================================================== */
.mainInventory{
    margin-top: 50px;
    margin-left: 45px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 4px;
    width: 850px;
    height: 234px;
    padding-left: 30px;
    padding-top: 30px;
}
.mainDetail{
    margin-top: 30px;
    margin-left: 45px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 4px;
    width: 850px;
    height: 432px;
    padding-left: 30px;
    padding-top: 30px;
}
.mainPhoto{
    margin-top: 30px;
    margin-left: 45px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 4px;
    width: 850px;
    height: 529px;
    padding-left: 30px;
    padding-top: 30px;
}
.itemPhoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px dashed #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 30px;
}
.photoBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 30px;
}
.mainPhotoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainItemPhoto{
    padding: 50px 51px;
    background: #D4D4D4;
    border-radius: 4px;
    margin-right: 18px;
    margin-bottom: 10px;
}
.subItemPhoto{
    padding: 30px 31px;
    background: #D4D4D4;
    border-radius: 4px;
    margin-right: 14px;
    margin-bottom: 50px;
}
.uploadFotoBox{
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
    padding: 8px 40px;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 24px;
    margin-bottom: 30px;
}
.mainDescription{
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 30px;
}
.mainProfileTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
}
.mainProfileSubTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}
.hrMargin{
    margin-right: 22px;
    margin-bottom: 34px;
}
.mainProfileData{
    display: flex;
    flex-direction: row;
    /* width: 850px;
    height: 500px; */
    justify-content: space-between;
}
.biodata{
    display: flex;
    flex-direction: column;
    padding-bottom: 94px;
    width:500px;
}
.choices{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.saveProfile{
    background: red;
    border: none;
    padding: 8px 33px;
    background: #DB3022;
    border-radius: 25px;
    color: #FFFFFF;
}
.photoProfile{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.photoProfile img{
    height: 111px;
    width: 111px;
    border-radius: 50%;
}
.selectingImage{
    margin-top: 19px;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 8px 26px;
    text-align: center;
}
.buttonInput{
    margin-top: 30px;
    margin-left: 780px;
    padding: 14px 50px;
    background: #DB3022;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
}
@media (max-width: 576px){
    .nav-item{
        margin-left: 0%;
    }
    .nav-vertical{
        width: 100%;
    }
    .mainInventory{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        /* height: 90%; */
    }
    .mainDetail{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .mainPhoto{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .mainItemPhoto{
        padding: 20px 21px;
    }
    .subItemPhoto{
        padding: 10px 11px;
    }
    .form-control{
        width: 90%;
    }
    textarea.form-control{
        width: 100%;
    }
}