/* main page ================================================================================================================================================================================ */
.mainPage{
  background: #F5F5F5;
}
/* navbar vertical ================================================================================================================================================================================ */
.navVertical{
  font-family: 'Metropolis';
}
.navItem{
  margin-left: 80px;
}
.boxSubNaver{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}
.backgroundNavVer{
  background-color: #fff;
}
.boxSub{
  display: flex;
}
.collapseBoxSub{
  display: flex;
  flex-direction: column;
}
.collapseNavVer{
  text-align: start;
  text-decoration: none;
}
.profileNav{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.profileImage{
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.profileName{
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.navVerticalTitle{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9B9B9B;
  text-decoration: none;
  margin-top: auto;
}
.navVerticalTitle:hover{
  text-decoration: none;
  color: black;
}
.activePage{
  font-weight: bold;
  color: #222222;
}
.boxImageProfile{
  background-color: blue;
  border-radius: 50%;
  padding: 8px 8px;
  height: 32px;
  width: 32px;
}
.colorBox1{
  background: #456BF3;
}
.colorBox2{
  background: #F36F45;
}
.colorBox3{
  background: #F3456F;
}
.editProfile{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9B9B9B;
  margin-left: 2px;
  text-decoration: none;
}
.btnCategory{
  background: none;
}
/* profile ========================================================================================================================================================================== */
.mainProfile{
  margin-top: 50px;
  margin-left: 45px;
  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  border-radius: 4px;
  width: 850px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.itemContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 576px){
  .navItem{
      margin-left: 0%;
  }
  .nav-vertical{
      width: 100%;
  }
  .mainPage{
      width: 102%;
  }
  .mainProfile{
      width: 98%;
      margin-left: auto;
      margin-right: auto;
      height: 90%;
  }
}